<h2 ng-click="climbUp()">Chicago</h2>

<p>{{timeFrame.startMoment.format(dateFormat)}} - {{timeFrame.endMoment.format(dateFormat)}}</p>

<h3>Total Reports: {{totalReports}}</h3>

<form>
  <label>Start Date:
  <input type="date" ng-change="changeStartDate()" ng-model="startDate" /></label><br/>
  <label>Time Span:</label><br/>
  <label>
    <input type="radio" ng-model="timeSpan" value="day" ng-change="changeTimeSpan()" />
    Day
  </label><br/>
  <label>
    <input type="radio" ng-model="timeSpan" value="week" ng-change="changeTimeSpan()" />
    Week
  </label><br/>
  <label>
    <input type="radio" ng-model="timeSpan" value="month" ng-change="changeTimeSpan()" />
    Month
  </label><br/>
</form>

<!-- Heat color blocks -->
<div ng-class="heatIndex(region.reports)" class="region" ng-repeat="region in data" ng-click="drillDown(region)">
  <div class="reports">{{region.reports}}</div>
  {{region.region}}
</div>

<table class="table">
  <thead>
    <tr>
      <th ng-click="setOrder('reports')">Reports</th>
      <th ng-click="setOrder('region')">Region</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in data | orderBy: order">
      <td>{{row.reports}}</td>
      <td>{{row.region}}</td>
    </tr>
  </tbody>
</table>
