.region {
  float: left;
  height: 100px;
  position: relative;
  text-align: center;
  width: 100px;
}

.reports {
  color: gainsboro;
  font-size: 1.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

svg {
  background-color: #444;
}

.heat1 {
  background-color: hsl(300, 90%, 95%);
}

.heat2 {
  background-color: hsl(300, 90%, 90%);
}

.heat3 {
  background-color: hsl(300, 90%, 85%);
}

.heat4 {
  background-color: hsl(300, 90%, 80%);
}

.heat5 {
  background-color: hsl(300, 90%, 75%);
}

.heat6 {
  background-color: hsl(300, 90%, 70%);
}

.heat7 {
  background-color: hsl(300, 90%, 65%);
}

.heat8 {
  background-color: hsl(300, 90%, 60%);
}

.heat9 {
  background-color: hsl(300, 90%, 55%);
}

.heat10 {
  background-color: hsl(300, 90%, 50%);
}
